html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #f4f6f8;
}

header {
  background: #0a2540;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 120px;
  height: auto;
  max-height: 60px;
}
nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(to top, #0a2540, #143c6b);
  color: white;
}

.btn {
  background: #ffb703;
  padding: 12px 20px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}

.features {
  display: flex;
  gap: 20px;
  padding: 40px;
}


.feature-box {
  background: white;
  padding: 20px;
  flex: 200;
  border-radius: 5px;
}

.content {
  padding: 40px;
  flex: 1;

}

footer {
  background: #0a2540;
  color: white;
  text-align: center;
  padding: 10px;
}

#contact_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

#contact_section > div {
  flex: 1;
}

.contactForm {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(128, 30, 30, 0.1);
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
input:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}
button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}